*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}



.input{
    position: absolute;
    bottom: 5px;
    left: 20px;
}
input[type=text]{
    outline: 0;
    width: 400px;
}
input[type=search]{
    outline: 0;
}