*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-height: 100vh;
    height: 100vh;
}
.users{
    height: 100vh;
    overflow: auto;
}
.inputbox{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin: 10px;
}

<<<<<<< HEAD
.container-fluid{
 background-image: url(/img/71V5w9iF6TL._AC_SX679_.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}

/* signin page styling */
#error_msg {
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #c62828;
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	/* border:1px solid #e74c3c; */
	display:none ;
}
 #error_pw {
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #c62828;
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	/* border:1px solid #e74c3c; */
	display:none ;
}
.input-group small{
	
	font-size: 12px;
	height: 13px;
	 color: red;
	visibility: hidden;	 
}
.input-group input:focus{
 outline: 0;
}
.success input{
	border: 3px solid green !important; 
}
.input-group small input{
	border-color: red;
}
.error small{
	visibility: visible;
}
.error input{
	border:3px solid red;
}
/* .input-group .success {
	border-color: green;
} */
/* .input-group input{
	display: inline-block
	wdith: 100%;
	padding: 10px;
} */
=======
>>>>>>> ffa6f0862bddd5b905e3c553c8915650760fa223
.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
