
.container-fluid{
 background-image: url(/img/71V5w9iF6TL._AC_SX679_.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}

/* signin page styling */
#error_msg {
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #c62828;
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	/* border:1px solid #e74c3c; */
	display:none ;
}
 #error_pw {
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #c62828;
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	/* border:1px solid #e74c3c; */
	display:none ;
}
.input-group small{
	
	font-size: 12px;
	height: 13px;
	 color: red;
	visibility: hidden;	 
}
.input-group input:focus{
 outline: 0;
}
.success input{
	border: 3px solid green !important; 
}
.input-group small input{
	border-color: red;
}
.error small{
	visibility: visible;
}
.error input{
	border:3px solid red;
}
/* .input-group .success {
	border-color: green;
} */
/* .input-group input{
	display: inline-block
	wdith: 100%;
	padding: 10px;
} */
