:root {
  --bg-light: #fafafa;
  --bg-dark: rgb(10, 12, 34);
  --color-primary: #2c2c2b;
}

body {
  background: var(--bg-light);
  color: var(--color-primary);
  max-width: 100vw;
  width: 100%;
}

.parent {
  display: flex;
}

.parent:nth-child(0) {
  display: none;
}

.chat {
  display: grid;
  grid-template-rows: 10% 90%;
}

.chat header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

main header{
  width: 100%;
}

.float {
  width: 60%;
  position: absolute;
  bottom: 5px;
  left: 40px;
}
.input{
  width: 80%;
}
input[type=text] {
  outline: 0;
  width: 100%;
}

input[type=search] {
  outline: 0;
}

/* Dropup Button */
  .btn-sm{
   border: none;
  }
  .btn-sm i{
    font-size: 20px;
  }
 
   .menu-btn {
    background-color: #e5ddee;
    color: black;
    /* padding: 8px; */
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
 }
 .dropdown-menu {
    position: relative;
    display:inline-block;
    padding-top: 130px;
 }
 .menu-content {
    display: none;
    position: absolute;
    bottom: 30px;
    background-color: #caf1f1;
    min-width: 80px;
    z-index: 1;
 }
 .links {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
 }
 .links:hover {
    background-color: rgb(217, 233, 223);
 }
 .dropdown-menu:hover .menu-content {
    display: block;
 }
 .dropdown-menu:hover .menu-btn {
    background-color: #e3f5e4;
 }
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  bottom: 0;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
  left: 30px;

}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* margin-top: 15px; */
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  background-color: #ddd
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #8abada;
}

.sidebar {
  height: 100vh;
  width: 314px;
  position: fixed;
  z-index: -1;
  opacity: .9;
  left: -350px;
  padding-top: 20px;
  transition: 0.1s ease-in-out;
  border-right: 2px solid #2c2c2c;
}


body.active aside {
  left: 0;
  z-index: 1;
  transition: .2s ease-in-out;
}

body.active main{
  width: 77%;
  margin-left: 314px;
}
