:root{
    --bg-light: #fafafa;
    --bg-dark: rgb(10, 12, 34);
    --color-primary: #2c2c2b;
}

body{
    background: var(--bg-light);
    color: var(--color-primary);
}

.parent{
    display: flex;
}
.parent:nth-child(0){
    display: none;
}
.chat{
    display: grid;
    grid-template-rows: 10% 90%;
}
.chat header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}
.chat main{
    position: relative;
    height: 90vh;
    width: 100%;
}

.input{
    width: 70%;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
input[type=text]{
    outline: 0;
    width: 100%;
}
input[type=search]{
    outline: 0;
}

/* Dropup Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    bottom: 0;
   

  }
  
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
    left: 30px;
    
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* margin-top: 15px; */
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  /* Change color of dropup links on hover */
  .dropup-content a:hover {background-color: #ddd}
  
  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }
  
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn {
    background-color: #8abada;
  }
  