:root{
    --bg-light: #fafafa;
    --bg-dark: rgb(10, 12, 34);
    --color-primary: #2c2c2b;
}

body{
    background: var(--bg-light);
    color: var(--color-primary);
}

.parent{
    display: flex;
}
.parent:nth-child(0){
    display: none;
}
.chat{
    display: grid;
    grid-template-rows: 10% 90%;
}
.chat header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}
.chat main{
    position: relative;
    height: 90vh;
    width: 100%;
}

.input{
    width: 70%;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
input[type=text]{
    outline: 0;
    width: 100%;
}
input[type=search]{
    outline: 0;
}