:root {
  --bg-light: #fafafa;
  --bg-dark: #161719;
  --color-primary: #2c2c2b;
  --highlight: #38393E;
}

body {
  max-width: 100vw;
  width: 100%;
}

button{
  outline: 0;
}

.search1{
  background-color: var(--bg-dark);
}

aside main {
  color: var(--bg-dark);
}

aside main .row{
  height: 70vh;
}

.highlight{
  background-color: var(--highlight);
  border-radius: 10px;
}

main.main{
  background-color: var(--bg-dark);
}
.main header,
.main header i{
  color: var(--bg-dark);
}

.dropdown-toggle::after {
  display: none;
}

.chat {
  display: grid;
  grid-template-rows: 10% 90%;
}

.chat header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}
.float {
  width: 40%;
  padding: 3px;
  position: absolute;
  bottom: 5px;
  left: 360px;
}

.float button {
  color: var(--bg-dark);
  border: 2px solid var(--bg-dark);
}

.input {
  width: 80%;
  border: 2px solid var(--bg-dark);
  color: var(--bg-dark);
}

input[type=text] {
  outline: 0;
  width: 100%;
}

input[type=search] {
  outline: 0;
}

.dropdown-menu.show{
  display: block;
  position: absolute !important;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(-30px, 45px) !important;
}
